@font-face {
	font-family: cambria;
	src: url("Fonts/cambria.ttc");
}
html {
	font-family: cambria;
	background-color: rgb(249,238,200);
}
.a {
    text-decoration: underline
    }
.backad {
    display: block;
    font-size: 0.77419em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.basic-text-frame {
    display: block;
    line-height: 1.2
    }
.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block;
    font-size: 0.77419em;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    display: none;
    text-decoration: none
    }
.calibre7 {
    display: block;
    font-size: 1em;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.calibre8 {
    display: block;
    line-height: 1.2;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    display: list-item;
    line-height: 1.2
    }
.calibre10 {
    font-weight: bold
    }
.calibre11 {
    height: 230px;
    width: 481px
    }
.calibre12 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre13 {
    font-size: 0.75em
    }
.calibre14 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.copy_blsp {
    display: block;
    font-size: 0.64516em;
    text-align: center;
    text-indent: 0;
    margin: 0 0 1em
    }
.copy_img {
    display: block;
    font-size: 0.77419em;
    text-align: center;
    text-indent: 0;
    margin: 0 0 1em
    }
.copy_rr {
    display: block;
    font-size: 0.64516em;
    text-align: center;
    text-indent: 0;
    margin: 0.2em 0
    }
.credits {
    display: block;
    font-size: 0.64516em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.credits_ {
    display: block;
    font-size: 0.64516em;
    text-align: center;
    text-indent: 0;
    margin: 0.5em 0 1em
    }
.dedi {
    display: block;
    font-size: 0.77419em;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 3em
    }
.epi {
    display: block;
    font-size: 0.77419em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.epi1 {
    display: block;
    font-size: 0.77419em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.ext_txt_msg {
    display: block;
    font-size: 0.77419em;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 1.5em
    }
.fmh {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 3em 0
    }
.fmh1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 3em 0
    }
.hide {
    display: none
    }
.hide1 {
    display: none;
    line-height: 1.2
    }
.image {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.indent {
    display: block;
    font-size: 0.77419em;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.noindent {
    display: block;
    font-size: 0.77419em;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.part_num {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 1em
    }
.part_ttl {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.right_ {
    line-height: 1.2
    }
.spacebreak {
    display: block;
    font-size: 0.77419em;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.title {
    display: block;
    font-size: 0.77419em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.toc {
    display: list-item;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    padding: 0
    }
.toc1 {
    display: list-item;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1em;
    text-indent: 0;
    padding: 0
    }
.toc2 {
    display: list-item;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    padding: 0 0 0 1em
    }
.toc3 {
    display: list-item;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0.5em;
    text-indent: 0;
    padding: 0
    }
.toc4 {
    display: block;
    font-size: 1.54839em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
