/* Coolors Exported Palette - coolors.co/ccf1ff-42a6be-b3d9d8-95b1d8-75a9d8 */

/* RGB */
$bg1: rgba(204, 241, 255, 1);
$fg1: rgba(66, 166, 190, 1);
$textcolor1: rgba(32, 49, 51, 0.8);
$textcolor2: rgb(32, 49, 51);
$fg2: rgba(149, 177, 216, 1);
$bg2: rgba(117, 169, 216, 1);
$border: rgba(247, 195, 83, 1)